body {
  font-size: 16px;
  text-transform: lowercase;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #420a55;
}

.header {
  grid-area: hd;
  box-sizing: border-box;
  border-bottom: 1px solid #442916;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-overflow: ellipsis;
  background-color: #420a55;
  padding: 1rem;
  color: white;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  padding: 25px;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.title:hover {
  color: aquamarine;
}

#hamburger-menu {
  cursor: pointer;
  margin-right: auto;
  margin-left: 15px;
}

#hamburger-menu:hover {
  color: aquamarine ;
}

#sidebar {
  grid-area: sb;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background: #ee3f73;
  color: white;
  display: none;
}

.sidebar-link {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bold;
  padding-top: 10px;
}

nav {
  display: none;
}

.main {
  grid-area: main;
  flex: 1;
  overflow: auto;
  padding: 1.5rem 3rem;
}

.box {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: justify;
  line-height: 120%;
}

h1 {
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-rows: 80px calc(100vh - 140px) 60px;
  grid-template-columns: auto auto repeat(10, 1fr);
  box-sizing: border-box;
  grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd" "sb sb main main main main main main main main main main" "ft ft ft ft ft ft ft ft ft ft ft ft";
}

.article-header {
  padding: 0px 0 0px 5px;
  /*background: #3b3a3a;*/
  color:  #3b3a3a;
  /*border-radius: 6px;*/
  /*border-bottom: 4px solid #FFC0CB;*/
}

.info-pic {
  max-width: 250px;
}

.image {
  margin-left: 0px;
}

.profile-pic {
  border-radius: 100%;
  max-height: 200px;
  padding: 0.25em;
  color: pink;
  border: 0.25em solid;
  background: #ee3f73;

  /* Initial state for animation */
  opacity: 0;
  transform: scale(0.8) rotate(-42deg);

  /* Animation properties */
  animation: profileEntry 4s ease forwards; /* 1.5 seconds entry animation */

}


/* Keyframes for the profile pic entrance animation */
@keyframes profileEntry {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-45deg); /* Start small and rotated */
  }
  50% {
    opacity: 0.7;
    transform: scale(1.1) rotate(10deg); /* Overshoot slightly for a bounce effect */
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg); /* End at normal size */
  }
}



.footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #442916;
  padding: 1rem;
  background: #420a55;
  color: white;
}

.footer-text-link {
  display: none;
}

.footer-icon-link {
  color: white;
  padding-left: 25px;
  padding-right: 10px;
}

.footer-icon-link:hover {
  color: #ee3f73;
}

.socials, .contact, .copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: smaller;
}


#menu-close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-close-icon:hover {
  color: #420a55;
  font-weight: bold;
}

.header-link {
  padding: 25px;
}

.button {
  white-space: nowrap;
  background-color: #ee3f73;
  border: 0.3px solid #f8918c;
  border-radius: 5px;
  max-width: fit-content;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 2px 4px 2px 4px;
  transition-duration: 0.4s;
}

.button:hover {
  color: #420a55;
  box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.24),
    0 15px 45px 0 rgba(0, 0, 0, 0.19);
}

.qualification-list {
  padding-top: 0px;
  text-align: left;

}

.qualification {
  display: block;
  padding-bottom: 0%;
  font-weight: bold;
}

@media (min-width: 900px) {
  nav {
    display: block;
  }

  .menu {
    display: flex;
    padding: 25px;
    margin: 0;
    justify-content: space-evenly;
    list-style-type: none;
    flex-direction: row;
  }

  .box {
    max-width: 68% !important;
  }

  .container {
    display: grid;
    grid-template-rows: 80px calc(100vh - 140px) 60px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd" "main main main main main main main main main main main main" "ft ft ft ft ft ft ft ft ft ft ft ft";
  }

  #hamburger-menu {
    display: none;
  }

  #sidebar {
    display: none !important;
  }

  .footer-text-link,
  .header-link {
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  .header-link:hover,
  .footer-text-link:hover {
    color: #ee3f73;
  }

  .info-pic {
    max-width: 350px;
  }

  .profile-pic {
    max-height: 200px;
  }
}
