body {
  font-size: 16px;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #420a55;
}

.header {
  grid-area: hd;
  box-sizing: border-box;
  border-bottom: 1px solid #442916;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-overflow: ellipsis;
  background-color: #420a55;
  padding: 1rem;
  color: white;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  padding: 25px;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.title:hover {
  color: aquamarine !important;
}

#hamburger-menu {
  cursor: pointer;
  margin-right: auto;
  margin-left: 15px;
}

#sidebar {
  grid-area: sb;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background: #ee3f73;
  color: white;
  display: none;
}

.sidebar-link {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bold;
  padding-top: 10px;
}

nav {
  display: none;
}

.main {
  grid-area: main;
  flex: 1;
  overflow: auto;
  padding: 1.5rem 3rem;
}

.box {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: justify;
  line-height: 120%;
}

h1 {
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-rows: 80px calc(100vh - 140px) 60px;
  grid-template-areas: "hd" "main" "ft" "sb";
  box-sizing: border-box;
  grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd" "sb sb main main main main main main main main main main" "ft ft ft ft ft ft ft ft ft ft ft ft";
}

.article-header {
  padding-top: 10px;
}

.info-pic {
  text-align: center;
  max-width: 350px;
}

.profile-pic {
  border-radius: 100%;
  max-height: 300px;
  padding: 0.25em;
  color: pink;
  border: 0.25em solid;
  background: #ee3f73;
}

.footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #442916;
  padding: 1rem;
  background: #420a55;
  color: white;
}

.footer-link {
  color: #420a55;
}

.icon-link {
  color: white;
}

.icon-link:hover {
  color: #ee3f73;
}

.footer-link {
  padding-left: 15px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: smaller;
}

.header-link {
  padding: 25px;
}

.button {
  white-space: nowrap;
  background-color: #ee3f73;
  border: 0.3px solid #f8918c;
  border-radius: 5px;
  max-width: fit-content;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 2px 4px 2px 4px;
  transition-duration: 0.4s;
}

.button:hover {
  color: #420a55;
  /* border: 1px solid #ffffff;  */
  box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.24),
    0 15px 45px 0 rgba(0, 0, 0, 0.19);
}

.qualification-list {
  padding-top: 0px;
}

.qualification {
  display: block;
  padding-bottom: 0%;
  font-weight: bold;
}

@media (min-width: 900px) {
  nav {
    display: block;
  }

  .menu {
    display: flex;
    padding: 25px;
    margin: 0;
    justify-content: space-evenly;
    list-style-type: none;
    flex-direction: row;
  }

  .box {
    max-width: 68% !important;
  }

  .container {
    display: grid;
    grid-template-rows: 80px calc(100vh - 140px) 60px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd" "main main main main main main main main main main main main" "ft ft ft ft ft ft ft ft ft ft ft ft";
  }

  #hamburger-menu {
    display: none;
  }

  #sidebar {
    display: none !important;
  }

  .footer-link,
  .icon-link,
  .header-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  .header-link:hover,
  .footer-link:hover {
    color: #ee3f73;
  }
}
