body {
  font-size: 16px;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.header {
  grid-area: hd;
  box-sizing: border-box;
  border-bottom: 1px solid #442916;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-overflow: ellipsis;
  background-color: #420a55;
  padding: 1rem;
  color: white;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
}

.menu {
  display: flex;
  padding: 25px;
  margin: 0;
  justify-content: space-evenly;
  list-style-type: none;
  flex-direction: row 
}

.main {
  grid-area: main;
  flex: 1;
  overflow: auto;
  padding: 1.5rem 3rem;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 66%;
  text-align: justify;
}

h1 {
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-rows: 100px calc(100vh - 200px) 100px;
  grid-template-areas: "hd" "main" "ft";
  box-sizing: border-box;
}

.info-pic {
  text-align: center;
  max-width: 450px;
}

.profile-pic {
  border-radius: 100%;
}

.footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #442916;
  padding: 1rem;
  background: #420a55;
  color: white;
}


.footer-link, .header-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.footer-link {
  padding-left: 15px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: smaller;
}

.header-link {
  padding: 25px;
}


.button {
  white-space: nowrap;
  background-color: #8e5e9c;
  border-radius: 5px;
  max-width: fit-content;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 4px 2px 4px;
}

.qualification-list {
  padding-top: 0px;
}

.qualification {
  display: block;
  padding-bottom: 0%;
  font-weight: bold;
}


@media (min-width: 900px) {
  nav {
      display: block;
  }


  .container {
      display: grid;
      grid-template-rows: 80px calc(100vh - 140px) 60px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd" "main main main main main main main main main main main main" "ft ft ft ft ft ft ft ft ft ft ft ft";
  }

}