html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100vw;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


body {
  font-size: 16px;
  text-transform: lowercase;
  font-family: "Courier New", Courier, monospace;
  background: #b4a7b7;
}

a {
  color: #420a55;
}

.header {
  grid-area: hd;
  box-sizing: border-box;
  border-bottom: 1px solid #442916;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-overflow: ellipsis;
  background-color: #420a55;
  padding: 1rem;
  color: white;
}

.i-title {
  font-size: 70%;
  color: #00e4d4;
}

.b-title {
  font-size: 52%;
  color: gold;
}

.title {
  font-size: 2rem;
  padding: 25px;
  display: inline-block;
  overflow: hidden;
  color: black; /* Default text color when not animated */
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

#hamburger-menu {
  cursor: pointer;
  margin-right: auto;
  margin-left: 1rem;
  transition: color 0.3s ease; /* Smooth transition for color */
}

#hamburger-menu:hover {
  color: #00e4d4;
  animation: wiggle 0.5s ease-in-out;
  animation-iteration-count: 5;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(10deg); }
  30% { transform: rotate(-10deg); }
  45% { transform: rotate(10deg); }
  60% { transform: rotate(-10deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

#sidebar {
  grid-area: sb;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background: #00e4d4;
  color: black;
  display: none;
}

.sidebar-link {
  display: flex;
  flex-direction: row;
  color: black;
  font-weight: bold;
  padding-top: 10px;
}

nav {
  display: none;
}

.main {
  grid-area: main;
  flex: 1;
  overflow: auto;

}

.box {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  line-height: 120%;
  padding: 1.5rem 1.5rem;
}

h1 {
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-rows: 80px calc(100vh - 140px) 60px;
  grid-template-columns: auto auto repeat(10, 1fr);
  box-sizing: border-box;
  grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd" "sb sb main main main main main main main main main main" "ft ft ft ft ft ft ft ft ft ft ft ft";
}

.container, .gallery-container {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}

.article-header {
  color:  #3b3a3a;
}


#whoami, #coding, #linguae, #ideas, #excursions {
  scroll-margin-top: 50px; /* Adjust the margin value to control how far above the element the scroll lands */
}

.profile-pic {
  border-radius: 100%;
  max-height: 150px; /* Slightly smaller */
  padding: 0.25em;
  color: pink;
  border: 0.25em solid;
  background: #ee3f73;
  max-width: 250px;
  margin-left: 0px;

  /* Animation properties */
  animation: profileEntry 4s ease-in-out infinite alternate;
}

/* Keyframes for the looping animation */
@keyframes profileEntry {
  0% {
    opacity: 1; /* Always visible */
    transform: scale(0.1) rotate(-95deg);
  }
  50% {
    opacity: 1; /* No fading */
    transform: scale(1.1) rotate(10deg);
  }
  100% {
    opacity: 1; /* Always visible */
    transform: scale(1) rotate(0deg);
  }
}



.footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #442916;
  padding: 1rem;
  background: #420a55;
  color: white;
}

.footer-text-link {
  display: none;
}

.footer-icon-link {
  color: white;
  padding-left: 25px;
  padding-right: 10px;
}

.footer-icon-link:hover {
  color: #00e4d4;
}

.socials, .contact, .copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: smaller;
}


#menu-close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-close-icon:hover {
  color: #420a55;
  font-weight: bold;
}

.header-link {
  padding: 25px;
}

.button {
  white-space: nowrap;
  background-color: rgba(188, 225, 221, 0.7); /* background with transparency */
  border: 0.3px solid white;
  border-radius: 5px;
  max-width: fit-content;
  color: #505D67;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 2px 4px 2px 4px;
  transition-duration: 0.4s;
}

.button:hover {
  color: #420a55;
  box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.24),
    0 15px 45px 0 rgba(0, 0, 0, 0.19);
}

.qualification-list {
  padding-top: 0px;
  text-align: left;

}

.qualification {
  display: block;
  padding-bottom: 0%;
  font-weight: bold;
}


.gallery-container {
  position: relative;
  width: 100vw;
  height: 90vh;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain; /* Ensures it covers the whole area without stretching */
  background: url('../public/gallery/wood-texture.webp') repeat fixed center;
  background-size: contain; /* Ensures it covers the whole area without stretching */
  overflow: hidden;
  /*border-radius: 15px;*/
  /*padding: 15px;*/
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Softer shadow */
}

/* Ensuring wooden background texture fits naturally */
.gallery-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05); /* Soft overlay to make images pop slightly */
  pointer-events: none;
}

.mySlides {
  max-width: 85%;
  max-height: 85%;
  object-fit: contain;
  position: absolute;
  opacity: 0;
  transform: scale(0.98) translateY(5px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  border: 5px solid rgb(177, 131, 47); /* Thinner, softer white border */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Less intense shadow */
  border-radius: 8px; /* Slightly rounded corners */
}

/* Active image effect */
.mySlides.active {
  opacity: 1;
  transform: scale(1) translateY(0);
}


/* ===== Splash container ===== */
#splash-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

/* ===== Particles ===== */
.particle {
    position: absolute;
    width: 10px;
    height: 10px;

    border-radius: 50%;
    background: radial-gradient(circle,
    #fff 0%,
    #420a55 30%,
    #00e4d4 60%,
    gold 100%
    );

    animation: splash 1.4s ease-out forwards;
}

/* random sparkles */
.particle.star {
    clip-path: polygon(
            50% 0%,
            61% 38%,
            100% 50%,
            61% 62%,
            50% 100%,
            39% 62%,
            0% 50%,
            39% 38%
    );
}

/* ===== main explosion animation ===== */
@keyframes splash {
    0% {
        transform:
                translate(0,0)
                scale(0.1)
                rotate(0deg);
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        transform:
                translate(
                        calc(var(--x) * 1px),
                        calc(var(--y) * 1px)
                )
                scale(1.5)
                rotate(720deg);
        opacity: 0;
    }
}


/* ===== Quick flash fade background ===== */
.magic-flash {
    position: fixed;
    inset: 0;
    z-index: 9998;

    background:
            radial-gradient(circle,
            rgba(255,255,255,.6),
            rgba(255,20,147,.2),
            rgba(0,191,255,.1),
            transparent
            );

    animation: flash 1.7s ease forwards;
    pointer-events: none;
}

@keyframes flash {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


@media (min-width: 900px) {
  nav {
    display: block;
  }

  .main {
    padding: 1.5rem 2rem;
  }

  .menu {
    display: flex;
    padding: 25px;
    margin: 0;
    justify-content: space-evenly;
    list-style-type: none;
    flex-direction: row;
  }

  .box {
    max-width: 80% !important;
    padding: 1.5rem 1.5rem;
  }

  .container {
    display: grid;
    grid-template-rows: 80px calc(100vh - 140px) 60px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: 100%;
    grid-template-areas: "hd hd hd hd hd hd hd hd hd hd hd hd" "main main main main main main main main main main main main" "ft ft ft ft ft ft ft ft ft ft ft ft";
  }

  #hamburger-menu {
    display: none;
  }

  #sidebar {
    display: none !important;
  }

 .iframe-wrapper {
   padding-top: 5px ;
   padding-bottom: 5px ;
 }


  .footer-text-link,
  .header-link {
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  .header-link:hover,
  .footer-text-link:hover {
    color: #00e4d4;
  }

  .info-pic {
    max-width: 350px;
  }

  .profile-pic {
    max-height: 200px;
  }

  .gallery-container {
    width: 95vw;
    height: 75vh;
    max-height: 75vh;
    background: url('../public/gallery/wood-texture.webp') repeat fixed center;
    background-size: contain; /* Ensures it covers the whole area without stretching */
    border-radius: 15px;
  }










  .show {
    display: block;
    opacity: 1;
  }
}
